:root {
    --mainColor :rgb(111, 0, 255);
    --secondaryColor :#333646;
    --acsentColor :#ff9100;
}

body {
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: 'ubuntu', sans-serif;
}

section h1 {
    color: #fff;
    font-size: 2,5rem;
}

/* Navbar */

.nav-link.active {
    color: var(--acsentColor) !important;
    font-weight: 700;
}

/* End Navbar */

/* hero */
#hero {
    color: #fff;
    min-height: 100vh;
}

#hero h1 {
    font-size: 3rem;
}

#hero h2 {
    font-weight: 300;
}

#hero p {
    font-size: 1,1rem;
    font-weight: 300;
}

/* CTA */
.btn-custom1 {
    background-color: var(--acsentColor);
    text-align: center;
    color: black;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1,2rem;
}

.btn-custom1:hover {
    box-shadow: 0 0 5px rgba(255, 166n, 0, 0,8);
} 



/* End Hero */

/* About */
hr {
    width: 35%;
    height: 5px;
    color: var(--acsentColor);
    margin: 0 auto;
    opacity: 100%;
}

#about {
    min-height: 300px;
    width: 100%;
    background-color: var(--secondaryColor);
    color :#fff;
    padding-top : 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;

}


/* End About */

/* Skill */

#Skill {
    min-height: 600px;
    width: 100%;
    color: #fff;
}

#skill img {
    width: 12%;
    margin: 10px;
}

/* End Skill */



